/*
 *  Font stuff
 */
 @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

 @font-face {
    font-family: 'beanregular';
    src: url('fonts/Bean-Regular.ttf') format('truetype'),
        url('fonts/bean-regular-webfont.woff') format('woff'),
        url('fonts/bean-regular-webfont.woff2') format('woff2');
}

p {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.beany {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.beany2 {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
}

/*
 *  Headers
 */

h1 {
    font-size: 5em;
    color: #555555;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'beanregular', Arial, sans-serif;
}

header {
    width: 100%;
    margin-bottom: 1opx;
}

.btn-wrapper {
    margin: auto;
    top: 50%;
    left: 50%;
    text-align:center;
}

.button{
    background-color: #555555;; 
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'beanregular', Arial, sans-serif;
    font-weight: bold;
}

.header-button{
    background-color: white; 
    color: #555555; 
    border: 2px solid #555555;
    font-family: 'beanregular', Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.header-button:hover {
    background-color: #555555;
    color: white;
}

/*
 * Centering the body content
 */
 .container {
    width: 600px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

/*
 *  Misc
 */

 image {
     margin: auto;
 }

 button{
    background-color: #555555;; 
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
    font-family: 'beanregular', Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #555555;
    border: 2px solid #555555;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}