<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <title>BeanKrypt</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>BeanKrypt</h1>
                <div class='btn-wrapper'>
                    <button id="homeButton" class="button header-button">home</button>
                    <button id="encryptButton" class="button header-button">encrypt</button>
                    <button id="decryptButton" class="button header-button">decrypt</button>
                    
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

<!--Button Redirects-->
<script type="text/javascript">
    document.getElementById("encryptButton").onclick = function () {
        location.href = "{{ url_for('encrypt') }}";
    };
</script>
<script type="text/javascript">
    document.getElementById("decryptButton").onclick = function () {
        location.href = "{{ url_for('decrypt') }}";
    };
</script>
<script type="text/javascript">
    document.getElementById("homeButton").onclick = function () {
        location.href = "{{ url_for('index') }}";
    };
</script>